<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660408269329-nh45j2cuijjj2j8unh0unv639pjhoivo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660408269329-nh45j2cuijjj2j8unh0unv639pjhoivo</string>
	<key>API_KEY</key>
	<string>AIzaSyCzl88ZvGWDLLCga8UMQyRXgs7nMhueMRU</string>
	<key>GCM_SENDER_ID</key>
	<string>660408269329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.surferboy.Stock-Journal</string>
	<key>PROJECT_ID</key>
	<string>orcaapp-dfa9b</string>
	<key>STORAGE_BUCKET</key>
	<string>orcaapp-dfa9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660408269329:ios:3f0e5ee0ed014c022f4fb0</string>
</dict>
</plist>